.logomain {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100px;
  margin: 0 auto;
  border: 1px solid #eee;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mat-icon {
  margin-right: 1rem;
  vertical-align: -5px;
}

.mat-divider {
  border-top-width: 2px;
  border-color: black;
}

a .mat-list-item {
  color: aliceblue !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  border-radius: 5px;
  margin: 0px 8px;
  &:hover {
    background-color: black;
  }
}
